<div class="inner-white-s">
  <table>
    <tr><td colspan="2" class="text-center"><%= image_tag user.get_user_image(100,100) %></b></td></tr>
    <tr><td>ユーザーID：　</td><td><b><%= user.id %></b></td></tr>
    <tr><td>スクリーンネーム：　</td><td><b><%= user.screen_name %></b></td></tr>
    <tr><td>名前：　</td><td><b><%= user.name %></b></td></tr>
    <tr><td>メールアドレス：　</td><td><b><%= user.email %></b></td></tr>
  </table>
</div>