<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<h1>Sign up page</h1>
<h4>あなたの情報を入力してください</h4>
<section id="input">
  <div class="inner">
    <%= form_with model: @user, url: registration_path(resource_name), local: true do |f| %>
      <%= render 'public/shared/error_messages', resource: @user %>
      <div class="field">
        <%= f.label :name, class: "form-label" %><br />
        <%= f.text_field :name, class: "form-control mb-3", autofocus: true, placeholder: "name（後から変更可能です）" %>
      </div>

      <div class="field">
        <%= f.label :screen_name, class: "form-label" %><br />
        <%= f.text_field :screen_name, class: "form-control mb-3", autofocus: true, placeholder: "あなたの希望するID（半角英数字・半角記号）" %>
      </div>

      <div class="field">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, class: "form-control mb-3", autofocus: true, placeholder: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "form-label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control mb-3", placeholder: "password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "form-label" %><br />
        <%= f.password_field :password_confirmation, class: "form-control mb-3", placeholder: "password(確認)" %>
      </div>

      <div class="actions text-center">
        <%= f.submit "Sign up", class: "btn btn-light btn-light-s" %>
      </div>
    <% end %>

    <h2 class="text-right jump"><%= link_to "→Log in", new_user_session_path %></h2>
  </div>
</section>
