<p class="notice"><%= notice %></p>

<section class="user">
  <div>
    <div class="inner-profile text-center">
      <%= render 'profile', user: current_user %>

      <div class="d-flex justify-content-center">
        <%= link_to edit_user_path, remote: true, class: "btn btn-light btn-light-bar2 mb-2 mr-2" do %>
          <i class="fa-solid fa-gear"></i> Edit
        <% end %>
        <%= link_to user_favs_path, remote: true, class: "btn btn-light btn-light-bar2 mb-2" do %>
          <i class="fa-solid fa-heart"></i> Favs
        <% end %>
      </div>
    </div>

    <div class="inner-calendar text-center">
      <%= render 'calendar', posts: @posts %>
    </div>
  </div>

  <div id="input">
    <h1>Timeline</h1>
    <%= render 'posts', posts: @posts, comments: @comments %>
  </div>
</section>
