<p class="notice"><%= notice %></p>

<section class="user">
  <div class="inner-magenta text-center">
    <%= render 'profile', user: current_user %>

    <div class="d-flex justify-content-center">
      <%= link_to edit_user_path(current_user), class: "btn btn-light btn-light-bar2 mb-2 mr-2" do %>
        <i class="fa-solid fa-gear"></i> Edit
      <% end %>
      <%= link_to user_favs_path(current_user), class: "btn btn-light btn-light-bar2 mb-2" do %>
        <i class="fa-solid fa-heart"></i> Favs
      <% end %>
    </div>
  </div>

  <section id="input">
    <h1>Timeline</h1>
    <%= render 'posts', posts: @posts, comments: @comments %>
  </section>
</section>
