<!DOCTYPE html>
<html>
  <head>
    <title>nuigroup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://kit.fontawesome.com/083157183e.js" crossorigin="anonymous" ></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="title_nuigroup">
        <%= link_to (admin_signed_in? ? new_admin_session_path : root_path ) do %>
          <% image_tag 'title_image.png', size: "310x126" %>
        <% end %>
      </div>
      <div class="menubar">
        <ul class="menu-list">
          <% if admin_signed_in? %>
            <li class="menu-list-item"><%= link_to 'Log out', destroy_admin_session_path, method: :delete, class: "btn btn-light btn-light-m" %></li>
            <li class="menu-list-item">
              <p>administrator</p>
              <p>id: <%= current_admin.id %></p>
            </li>
          <% elsif user_signed_in? %>
            <li class="menu-list-item">
              <%= link_to new_post_path, class: "btn btn-light btn-light-post rounded-circle" do %>
                <i class="fa-solid fa-plus"></i>
              <% end %>
            </li>
            <li class="menu-list-item">
              <%= image_tag current_user.get_user_image(100,100),class: "rounded shadow mb-3" %>
              <p class="login-user text-center">user: <%= current_user.name %></p>
              <p class="login-user text-center">id: <%= current_user.screen_name %></p>
            </li>
            <li>
              <p class="menu-list-item mt-2 mb-2 text-center"><%= link_to 'Edit profile', user_edit_path(current_user), class: "btn btn-light btn-light-s" %></p>
              <p class="menu-list-item mt-2 mb-2 text-center"><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-light btn-light-s" %></p>
            </li>
          <% else %>
            <li class="menu-list-item"><%= link_to 'Sign up', new_user_registration_path, class: "btn btn-light btn-light-m" %></li>
            <li class="menu-list-item"><%= link_to 'Log in', new_user_session_path, class: "btn btn-light btn-light-m" %></button></li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
