<!DOCTYPE html>
<html>
  <head>
    <title>nuigroup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://kit.fontawesome.com/083157183e.js" crossorigin="anonymous" ></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'nuigroup', (admin_signed_in? ? new_admin_session_path : root_path ) %>
      <ul>
        <% if admin_signed_in? %>
          <li><%= link_to 'Log out', destroy_admin_session_path, method: :delete %></li>
          <li>
            <p>administrator</p>
            <p>id: <%= @current_admin.id %></p>
          </li>
        <% elsif user_signed_in? %>
          <li><%= link_to 'New post', new_post_path %></li>
          <li>
            <% if @current_user.image.attached? %>
            <%= image_tag @current_user.image, size: "100x100" %>
            <% else %>
            <%= image_tag 'noimage.png', size: "100x100" %>
            <% end %>
            <p>user: <%= @current_user.name %></p>
            <p>id: <%= @current_user.id %></p>
          </li>
          <li><%= link_to 'Edit profile', user_edit_path %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Log in', new_user_session_path %></li>
        <% end %>
      </ul>

    </header>
    <%= yield %>
  </body>
</html>
