<!DOCTYPE html>
<html>
  <head>
    <title>nuigroup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://kit.fontawesome.com/083157183e.js" crossorigin="anonymous" ></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="title_nuigroup">
        <% if admin_signed_in? %>
          <%= link_to new_admin_session_path do %>
            <% image_tag 'title_image.png', size: "310x126" %>
          <% end %>
        <% elsif user_signed_in? %>
          <%= link_to timeline_path(current_user) do %>
            <% image_tag 'title_image.png', size: "310x126" %>
          <% end %>
        <% else %>
          <%= link_to root_path do %>
            <% image_tag 'title_image.png', size: "310x126" %>
          <% end %>
        <% end %>
      </div>
      <div class="menubar">
        <ul class="menu-list">
          <% if admin_signed_in? %>
            <li class="menu-list-item"><%= link_to 'Log out', destroy_admin_session_path, method: :delete, class: "btn btn-light btn-light-m" %></li>
            <li class="menu-list-item">
              <p>administrator</p>
              <p>id: <%= current_admin.id %></p>
            </li>
          <% elsif user_signed_in? %>
            <li class="menu-list-item align-self-end">
              <table class="align-items-start">
                <%= form_with url: search_path, local: true, method: :get do |f| %>
                  <tr>
                    <td><%= f.label :category, "検索項目 :" %></td>
                    <td><%= f.select :category, options_for_select([['ユーザーID', 'screen_name'],['ユーザー名', 'user'],['投稿', 'post']]), prompt: 'カテゴリ選択', class: "form-control btn btn-light dropdown-toggle" %></td>
                  </tr>
                  <tr>
                    <td class="pr-2 "><%= f.label :query, "検索ワード :" %></td>
                    <td><%= f.text_field :query, placeholder: "キーワードを入力", class: "form-control" %><%= f.submit "Search", class: "btn btn-light btn-light-ss" %></td>
                  </tr>
                <% end %>
              </table>
            </li>
            <li class="menu-list-item">
              <%= link_to new_post_path, class: "btn btn-light btn-light-post rounded-circle mr-3" do %>
                <i class="fa-solid fa-plus"></i>
              <% end %>
            </li>
            <li class="menu-list-item mr-3">
              <%= link_to user_timeline_path(current_user.screen_name) do %>
                <%= image_tag current_user.get_user_image(100,100), class: "rounded shadow mb-3" %>
              <% end %>
              <p class="login-user text-center">user: <%= current_user.name %></p>
              <p class="login-user text-center">id: <%= current_user.screen_name %></p>
            </li>
            <li>
              <p class="menu-list-item mt-2 mb-2 text-center"><%= link_to 'Edit profile', user_edit_path(@user), class: "btn btn-light btn-light-s" %></p>
              <p class="menu-list-item mt-2 mb-2 text-center"><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-light btn-light-s" %></p>
            </li>
          <% else %>
            <li class="menu-list-item"><%= link_to 'Sign up', new_user_registration_path, class: "btn btn-light btn-light-m" %></li>
            <li class="menu-list-item"><%= link_to 'Log in', new_user_session_path, class: "btn btn-light btn-light-m" %></button></li>
          <% end %>
        </ul>
      </div>
      <div class="admin_nuigroup">
        <% unless user_signed_in? %>
          <%= link_to new_admin_session_path do %>
            <% image_tag 'admin_icon.png', size: "35x35" %>
          <% end %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
